
body  {
    background-color: lightgray;
    font-family:sans-serif;
    margin:40px;


}
header{
  background-color: lightgray;
    text-align: center;
    padding:20px 2px;
}
nav ul {
    list-style-type: none;
}
nav li{
    display: inline-block;
    margin: 0 10px;
}
nav a{
    text-decoration: none;
    color: blue;
    padding: 10px 16px;
}
nav a:hover{
    background-color: lightgray;
    border-radius: 50px;
}
main{
    padding: 20px;
}
#profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
#about {
    background-color: lightgray;
    padding: 20px;
    border: lightgray solid 1px;
    border-radius: 10px;
    box-shadow: 0 0 5px purple;
    margin-bottom: 20px
}
#projects {
    background-color: lightgray;
    padding: 20px;
    border: lightgray solid 1px;
    border-radius: 10px;
    box-shadow: 0 0 5px purple;
    margin-bottom: 20px
}
#projects-container{
    display: flex;
    gap: 15px;
}
.projo{
    background-color: lightgray;
    padding: 20px;
    border: lightgray solid 1px;
    border-radius: 10px;
    box-shadow: 0 0 5px purple;
    text-align: center;
    flex: 200px;
}
h3{
    color: blue;

}

h4{
    color: purple;
}
#contact h5{
    text-align:center;
}
.contact-form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0px auto;
    gap: 20px;

}
.contact form label{
    font-weight: bold;
    color: lightgray;
}
.contact-form input,
.contact-form textarea{
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.contact-form button{
   background-color: lightgray;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    font-size: larger;
}
footer{
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    color: white;
    margin-top: 20px;
}
